# Node / frontend
node_modules/
dist/
build/

# IntelliJ
.idea/
*.iml

# Spring Boot / backend
backend/sweethouse/target/
backend/sweethouse/*.log
backend/sweethouse/.mvn/
backend/sweethouse/mvnw.cmd
backend/sweethouse/mvnw
backend/sweethouse/.gitignore

# OS files
.DS_Store
Thumbs.db
.vscode/
.env
.env.local